{% extends 'base.html.twig' %}
{% set title = 'Channel' %}

{% block body %}
<script type="text/javascript">
    function formSubmit()
    {
        document.whatandwhen.submit();
    }
</script>

<div id='layout'>
    <div id='banner'>
        <form name='whatandwhen' method='GET' action='/channel'>
            <table>
                <tr>
                    <td class='col_title'><div id='mobmenu'>&#9776;</div> <h1>Channels</h1></td>
                    <td>Select channel:
                        <select name='channel' size='1' onchange='formSubmit()'>
                            {% for listChannel in channels %}
                                <option value='{{ listChannel.name }}' {{ listChannel.name == channel.name ? 'selected' : '' }}>
                                    {{ listChannel.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <label>
                            All Dates <input type='checkbox' name='all' $all onchange='formSubmit()'>
                        </label>
                        <a href='/channel?channel={{ channel.name }}&date={{ prev }}'><img src='/assets/images/left.png'></a>
                        <select name='date' size='1' onchange='formSubmit()'>
                            {% set loopDate = today %}
                            {% for counter in 0..7 %}
                                <option value='{{ loopDate|date('Y-m-d') }}' {{ loopDate == today ? 'selected' : '' }}>
                                    {{ loopDate|date('D d/n') }}
                                </option>
                                {% set loopDate = loopDate + 86400 %}
                            {% endfor %}
                        </select>
                        <a href='/channel?channel={{ channel.name }}&date={{ next }}'><img src='/assets/images/right.png'></a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id='wrapper'>
        <div id='content'>

            <table class='list'>
                <tr class='heading'>
                    <td colspan='4'>
                        <span class='channel_name'>{{ channel.name }}</span>
                    </td>
                </tr>
                {% set last_prog_date = '' %}
                {% for epg in channelEpg %}
                    {% set prog_date = epg.start|date('l d/n', '+01:00 GMT') %}
                    {% if last_prog_date != prog_date %}
                        {% set last_prog_date = prog_date %}

                        <tr class='newday'>
                            <td colspan='5'>
                                <span class='date_long'>{{ prog_date }}</span>
                            </td>
                        </tr>
                    {% endif %}

                    <tr class='{{ loop.index0 is odd ? 'row_odd' : 'row_even' }}' id='$id'>
                        <td class='col_duration'>{{ epg.start|date('H:i', '+01:00 GMT') }} - {{ epg.stop|date('H:i', '+01:00 GMT') }}</td>
                        <td>
                            {% if epg.dvrState is defined and epg.dvrState == 'recording' %}
                                <img src='assets/images/rec.png' alt='record' title='record'>
                            {% endif %}
                        </td>
                        <td class='col_title'><div class='epg_title'>{{ epg.title }}</div><div class='epg_subtitle'>{{ epg.description }}</div></td>
                    {#if (!isset($p['dvrState']) || $p['dvrState'] != 'scheduled') {#}
                    {#$evt = $p["eventId"];#}
                    {#echo "<td><a href='telly.php?eventId=$evt&series=N&when=$when&prog=$uprog$rall#$id'><img src='images/rec_button1.png' alt='record' title='record'></a></td>";#}
                    {#}#}
                    {#else {#}
                        <td></td>
                    {#}#}
                    {#if ((isset($p["serieslinkUri"])) && !array_key_exists($p["serieslinkUri"], $levents)) {#}
                    {#echo "<td><a href='telly.php?eventId=$evt&series=Y&when=$when&prog=$uprog$rall#$id'><img src='images/rec_buttonS.png' alt='record series' title='record series'></a></td></tr>";#}
                {#}#}
                {#else {#}
                    {#<td></td>#}
                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}