{% extends 'base.html.twig' %}
{% set title = 'Channel' %}

{% block body %}
<script type="text/javascript">
    function formSubmit()
    {
        document.whatandwhen.submit();
    }
</script>

<div id='layout'>
    <div id='banner'>
        <form name='whatandwhen' method='GET' action='/channel'>
            <table>
                <tr>
                    <td class='col_title'><div id='mobmenu'>&#9776;</div> <h1>Channels</h1></td>
                    <td>Select channel:
                        <select name='channel' size='1' onchange='formSubmit()'>
                            {% for listChannel in channels %}
                                <option value='{{ listChannel.name }}' {{ listChannel.name == channel.name ? 'selected' : '' }}>
                                    {{ listChannel.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <label>
                            All Dates <input type='checkbox' name='all' $all onchange='formSubmit()'>
                        </label>
                        <a href='/channel?channel={{ channel.name }}&date={{ prev }}'><img src='/assets/images/left.png'></a>
                        <select name='date' size='1' onchange='formSubmit()'>
                            {% set loopDate = today %}
                            {% for counter in 0..7 %}
                                <option value='{{ loopDate|date('Y-m-d') }}' {{ loopDate == today ? 'selected' : '' }}>
                                    {{ loopDate|date('D d/n') }}
                                </option>
                                {% set loopDate = loopDate + 86400 %}
                            {% endfor %}
                        </select>
                        <a href='/channel?channel={{ channel.name }}&date={{ next }}'><img src='/assets/images/right.png'></a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id='wrapper'>
        <div id='content'>

            <table class='list'>
                <tr class='heading'>
                    <td colspan='6'>
                        <span class='channel_name'>
                            <img src="{{ url }}/{{ channel.icon_public_url }}" style="height: 50px;" alt="{{ channel.number }} {{ channel.name }}">
                        </span>
                    </td>
                </tr>
                {% set last_prog_date = '' %}
                {% for epg in channelEpg %}
                    {% set prog_date = epg.start|date('l d-m', '+01:00 GMT') %}
                    {% if last_prog_date != prog_date %}
                        {% set last_prog_date = prog_date %}

                        <tr class='newday'>
                            <td colspan='6'>
                                <span class='date_long'><h2>{{ prog_date }}</h2></span>
                            </td>
                        </tr>
                    {% endif %}

                    <tr class='{{ loop.index0 is odd ? 'row_odd' : 'row_even' }}' id='$id'>
                        <td class='col_duration'>{{ epg.start|date('H:i', '+01:00 GMT') }} - {{ epg.stop|date('H:i', '+01:00 GMT') }}</td>
                        <td>
                            {% if epg.dvrState is defined and (epg.dvrState == 'recording' or epg.dvrState == 'scheduled') %}
                                <i class="fas fa-file-video"></i>
                            {% endif %}
                        </td>
                        <td class='col_title'>
                            <div class='epg_title'>{{ epg.title }}</div><div class='epg_subtitle'>{{ epg.description }}</div>
                        </td>

                        <td>
                            {% if epg.dvrState is not defined or (epg.dvrState != 'recording' and epg.dvrState != 'scheduled') %}
                            <a href='/channel?action=record&event={{ epg.eventId }}'>
                                <i class="fas fa-2x fa-circle"></i>
                            </a>
                            {% endif %}
                        </td>

                        <td>
                            {% if epg.dvrState is not defined or (epg.dvrState != 'recording' and epg.dvrState != 'scheduled') %}
                            <a href='/channel?action=recordseries&event={{ epg.eventId }}'>
                                <i class="fas fa-2x fa-redo"></i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}